<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Pacientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="script.js"></script>

</head>

<body>

    <div class="container mt-3">


        <div class="row justify-content-end">
            <div class="col-1">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-outline-danger" value="Sair" />
                </form>
            </div>




            <div class="row">
                <div class="primary text-black"
                    style="position: relative; display: inline-block ; text-align: center; margin-top: -10px;">
                    <h2>Gerenciador de Pacientes<samp id="ver"></samp></h2>
                    <h3>Centro Cirurgico</h3>
                </div>
            </div>

        </div>
        <br>

        <form action="" id="form-paciente">
            <input type="hidden" id="id" name="id">
            <div class="col-md-12">
                <label for="nome">Nome: </label>
                <input type="text" class="form-control" id="nome">
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="status">Status: </label>
                    <select id="status" class="form-control">
                        <option value="Pré-Operatório">Pré-Operatório</option>
                        <option value="Transferido">Transferido</option>
                        <option value="Em Cirurgia">Em Cirurgia</option>
                        <option value="Em Recuperação">Em Recuperação</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="local">Local: </label>
                    <input type="text" class="form-control" id="local">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <label for="entrada">Entrada Prevista: </label>
                    <input type="time" class="form-control" id="entrada">
                </div>
                <div class="col-md-3">
                    <label for="inicio">Inicio da Cirurgia: </label>
                    <input type="time" class="form-control" id="inicio">
                </div>
                <div class="col-md-3">
                    <label for="fim">Fim da Cirurgia: </label>
                    <input type="time" class="form-control" id="fim">
                </div>
                <div class="col-md-3">
                    <label for="saida"> Saida Prevista: </label>
                    <input type="time" class="form-control" id="saida">
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-outline-primary" onclick="gravar()">Gravar</button>
            <button type="button" class="btn btn-outline-secondary" onclick="limpar()">Novo</button>
            <button type="button" class="btn btn-outline-danger" onclick="apagar()">Apagar</button>

            <div class="justify-content-end mt-3" >
                <a class="btn btn-outline-dark" href='/Tabela'>Lista Pacientes</a>

            </div>



        </form>
    </div>
    <div class="container mt-3">

        <ul class="pagination justify-content-end" style="margin:20px 0" id="lsPagina">
            <li class="page-item"><a class="page-link" href="#">
                    << /a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">></a></li>
        </ul>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Local</th>
                    <th>Entrada Prevista</th>
                    <th>Inicio Previsto</th>
                    <th>Fim da Cirurgia</th>
                    <th>Saida Prevista</th>
                </tr>
            </thead>
            <tbody style="cursor: pointer;" id="tbCorpo">
            </tbody>
        </table>
    </div>
    <script>atualizarTabela()</script>
</body>

</html>